


<div class="container marketing" style="margin-top: 10px">

      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= @product.name %> <span class="text-muted">Fresadora en 2 ejes</span></h2>
          <p class="lead"><%= @product.summary %></p>
          <p class="lead"></p>
          <%= sanitize @product.description, tags: %w(ul li), attributes: %w(id class style src) %>

        </div>
        <div class="col-md-5">
            <!-- Caroucel-->

       <div id="carouselProducts" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <%= image_tag(@product.image1, class: "featurette-image img-fluid mx-auto") %>
            </div>
            <div class="carousel-item">
              <%= image_tag(@product.image2, class: "d-block img-fluid") %>
            </div>
            <div class="carousel-item">
              <%= image_tag(@product.image3, class: "d-block img-fluid") %>
            </div>
            <div class="carousel-item">
              <%= image_tag(@product.image4, class: "d-block img-fluid") %>
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselProducts" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselProducts" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


            <!-- Caroucel-->
        </div>
      </div>



      <%= sanitize @product.body, tags: %w(table tbody th tr td h3 p ul li em img button div), attributes: %w(id class style src) %>
      <hr class="featurette-divider">
      <div class="center">
       <%= link_to "Pida una cotización hoy", contact_path, class: "btn btn-lg btn-primary" %>
      </div>
</div>



<div class="center">
 <%= link_to "[ Editar este producto ]", edit_product_path(@product) %>
 <%= link_to "[ Volver al listado de productos ]", products_path %>
</div>
